body {
    font-family: "Open Sans", "Segoe UI", "Tahoma", sans-serif;
    color: #777;
    margin: 10px 50px;
}
h1, h2 {
    font-weight: 400;
}
.bottom-0 {
    margin-bottom: 0;
}
.bottom-10 {
    margin-bottom: 1.5em;
}
.top-0 {
    margin-top: 0;
}
.text-center {
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}
.wrapper {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.wrapper:hover {
    border: 1px solid #555;
}
.container a {
    display: block;
}
.title {
    font-size: 1.5em;
    text-align: center;
    font-variant: small-caps;
}
.grid {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
}
.subgrid {
    position:relative;
    width:250px;
    height:250px;
}
.subgrid-medium {
    width: 400px !important;
}
.subgrid-large {
    width: 600px !important;
}
.subgrid-xlarge {
    width: 600px !important;
    height: 400px !important;
}
.widget-header {
    display: none;
}
a.divlink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}